input {
    width: 100% !important;
    background-color:transparent !important; 
}

h1 {
    font-size: 25px;
}

label {
    font-weight:600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textoTabla{
    font-weight: 400;
}

.total {
    font-weight: bold;
}

.detalle {
    margin-top: 100px;
}

